.boxloai h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    background-color: #f5f5f5;
}

.boxloai {
    border: 1px solid #f5f5f5;
}

li {
    list-style: none;
    line-height: 30px;
    color: rgb(109, 106, 106);
}

ul {
    list-style: disc;
}

input {
    opacity: 4;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a span {
    color: rgb(109, 106, 106);
}

.thanhsapxep {
    max-width: 200px;
}

.boxsanpham h3{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

}
h3 a {
    color: black;
    display: -webkit-box;
    max-height: 3.2rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    line-height: 1.6rem;

}
.boxsanpham .gia p{
    color: #999999;
}
.boxsanpham .gia span{
    color: red;
    font-size: 20px;
    font-weight: 600;
}


.boxsanpham img{
    width: 200px;
    height: 200px;
}
.boxsanpham .img{
    text-align: center;
}


.sanpham:hover{
    border: 1px solid #f5f5f5;
    box-shadow: 2px 2px 20px #e8e8e8;
}
main{
    background-color: #e8e8e8;
}
/* .sanpham .title,.gia{
    text-align: center;

} */

